@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,100,300,200);
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

h1 {
  font-family: 'Exo', sans-serif;
  font-weight: 100; }

h2 {
  font-family: 'Exo', sans-serif;
  font-weight: 200; }

h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 300; }

h4 {
  font-family: 'Exo', sans-serif;
  font-weight: 500; }

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5em; }

/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 *
 */
body {
  background: #020202;
  color: #fdfdfd;
  font-size: 16px; }

a {
  color: #FFFFFF;
  cursor: pointer; }

audio::-webkit-media-controls-panel {
  background-color: #010101; }

p {
  color: rgba(255, 255, 255, 0.6); }

a:link, a:visited {
  text-decoration: none; }

input[type='text'] {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  height: 24px;
  min-width: 180px;
  height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 100;
  padding-left: 8px;
  padding-right: 8px;
  color: #ffffff; }
  input[type='text']:focus {
    border: 1px solid rgba(255, 255, 255, 0.3); }
  input[type='text'].is--code {
    letter-spacing: 1.8em;
    width: 180px;
    max-width: 180px; }

::selection {
  background: rgba(0, 0, 0, 0.5);
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
  /* Gecko Browsers */ }

.loading__icon {
  display: block;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-color: #444 #fff #fff;
  animation: spin 1.5s cubic-bezier(0.66, 1, 0.66, 1) infinite;
  opacity: 0.5;
  transform: translate(-50%, -50%) rotate(0deg);
  backface-visibility: none; }
  .loading__icon.is--center {
    top: 50%;
    left: 50%; }
  .loading__icon.is--left {
    top: 50%;
    left: 0%; }
  .loading__icon.is--right {
    top: 50%;
    right: 0%; }
  .loading__icon.is--large {
    border-width: 8px;
    width: 64px;
    height: 64px; }
  .loading__icon.is--medium {
    border-width: 4px;
    width: 36px;
    height: 36px; }
  .loading__icon.is--small {
    border-width: 2px;
    width: 18px;
    height: 18px; }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(359deg); } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .loading__icon.is--small {
    margin-left: -10px;
    margin-top: -6px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .loading__icon.is--small {
    margin-left: -10px;
    margin-top: -6px; } }
