:host {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.scene {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 100; }

video {
  display: none; }

.copy {
  position: absolute;
  top: 33%;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%) translateY(-50%);
  webkit-font-smoothing: antialiased;
  backface-visibility: hidden; }
  .copy.is--hidden {
    display: none; }
  .copy input {
    margin-right: 10px; }
  .copy input, .copy ui-button {
    position: relative;
    float: left; }
  .copy ui-button {
    width: 80px; }

.is--hidden {
  display: none; }

.is--visible {
  display: block; }

p {
  line-height: 0.5em; }
