:host {
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
  &.visible {
    display: block;
  }
}

.copy {
  position: absolute;
  top: 33%;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%) translateY(-50%);
  webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  padding-top: 120px;
  padding-left: 30px;
  z-index: 1000;
  &.is--hidden {
    display: none;
  }
  input {
    margin-right: 10px;
  }
  input, ui-button {
    position: relative;
    float:left;
  }
  ui-button {
    width: 80px;
  }
}


.music__player {
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 1000;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  .button {
    transform: translateX(30px) translateY(40px);
  }
}

@media only screen 
and (min-device-width :668px) { 
  .button {
    transform: translateX(60px) translateY(80px);
  }
}