<header class="copy" [ngClass]="{ 'is--hidden' : isConnected === true }">
    <h1>
      {{ copy.headline }}
    </h1>
    <p>{{copy.line1}}</p>
    <p>{{copy.line2}}</p>
    <form [ngFormModel]="form">
        <input type="text" ngControl="room" class="is--code" />
        <ui-button (click)="onClick($event)" [ngClass]="{ 'is--disabled': isButtonDisabled === true,
                                                           'is--enabled': isButtonDisabled === false }">
            <span *ngIf="!isConnected && isConnecting === false"> Connect </span>
            <span *ngIf="isConnected"> Connected </span>
            <div *ngIf="isConnecting" class="loading__icon is--small is--center"></div>
        </ui-button>
    </form>

</header>

<div class="music__player" [ngClass]="{ 'is--hidden' : currentView !== 'waveform' }">


    <track-list [trackList]="tracks" [control]="audiocontrol" (onselect)="onTrackSelected($event)"></track-list>

</div>


<ui-nav (onselect)="onViewSelect($event)" [ngClass]="{ 'is--hidden' : currentView === 'none' }"></ui-nav>


<ui-toggle [options]="toggleOptions" (click)="onToggle($event)" [ngClass]="{ 'is--hidden' : currentView !== 'controls' }">
    <span *ngIf="!toggleOptions.isActive"> Invert </span>
    <span *ngIf="toggleOptions.isActive"> Default </span>
</ui-toggle>

<div [ngClass]="{ 'is--hidden' : currentView !== 'controls' }">
    <slider [options]="joyOptions.left"></slider>
    <slider [options]="sliderOptions"></slider>
    <slider [options]="sliderDistortion"></slider>
    <slider [options]="sliderMultiplier"></slider>
    <slider [options]="sliderHue"></slider>
    <slider [options]="sliderSaturation"></slider>
    <slider [options]="sliderOpacity"></slider>
    <slider [options]="joyOptions.right"></slider>
</div>

<waveform-monitor [control]="controller" [ngClass]="{ 'is--hidden' : currentView !== 'waveform' }"></waveform-monitor>