.button {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
  margin-top: 10px;
  height: 24px;
  color: rgba(255,255,255,0.3);
  //text-align: center;
  min-width: 80px;
  max-width: 180px;
  max-height: 28px;
  height: 28px;
  cursor: pointer;
  padding-top: 8px;
  font-size: 10px;
  font-family: 'Lato' sans-serif;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: none;

  transition: 0.125s all cubic-bezier(0.23, 1, 0.320, 1);
  &:hover {
    color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.3);
    cursor: url('/assets/ui/slider-control-icon-transparent-cursor.png') 22 22, pointer;
  }
  &.is--disabled {
    cursor: default;
    color: rgba(212,212,212,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    &:hover {
      color: rgba(255,255,255,0.2);
      border: 1px solid rgba(255,255,255,0.3);
    }
  }
}

:host {
  .button {
      span {
        display: block;
        transform: translate3d(6px, -26px, 0px);
      }  
      .loading__icon {
          top: 28px;
          opacity: 0.3;
      }
  }
}
