body {
  background: #020202;
  color: #fdfdfd;
  font-size: 16px;
}

a {
  color: #FFFFFF;
  cursor: pointer;
}

audio::-webkit-media-controls-panel {
    background-color: #010101;
}

p {
  color: rgba( 255, 255, 255, 0.6);
}

a:link, a:visited {
  text-decoration: none;
}

input[type='text'] {
  background: #020202;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  height: 24px;
  min-width: 180px;
  height: 32px;
  color: rgba(255,255,255,0.5);
  &:focus {
      border: 1px solid rgba(255,255,255,0.2);
  }
}
